body {
  font-family: Roboto;
  background-image: url(img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background-color: rgb(255, 255, 255);
  border-radius: 2%;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.variables {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
}

img {
  height: 40px;
  padding-left: 15px;
}

button img {
  height: 22px;
}

.check {
  margin-left: 110px;
}

.payment {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 20px;
  width: 140px;
}

.visa,
.mastercard,
.maestro {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 40px;
  height: 80px;
  width: 500px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.visa,
.maestro {
  color: gray;
}

.visa:hover {
  background-color: #ddd;
  cursor: pointer;
}

.mastercard:hover {
  background-color: #ddd;
  cursor: pointer;
}

.maestro:hover {
  background-color: #ddd;
  cursor: pointer;
}

button {
  width: 500px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  font-size: 20px;
  background-color: #1e90ff;
  text-decoration: none;
  border: 0;
  border-bottom-left-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
}

button:hover {
  background-color: #00bfff;
}

button:active {
  transform: scaleY(0.98);
  transition: transform 0.2s;
}

.dots {
  font-size: 25px;
  display: flex;
  gap: 5px;
}

.dot_one {
  opacity: 1;
}

.dot_two {
  opacity: 0.5;
}

.dot_three {
  opacity: 0.25;
}
