@import url(./reset.css);

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main__block {
  width: 800px;
  height: 700px;
  position: absolute;
  display: flex;
  border-radius: 7px;
}

.image__block {
  display: flex;
  width: 800px;
  height: 700px;
  position: absolute;
  display: flex;
  perspective: 500px;
  transition: transform 0.5s ease-in-out;
  transform-origin: left center;
}

.main__block__image {
  display: flex;
  border-radius: 7px;
  width: 100%;
  height: 100%;
}

.main__block:hover {
  .image__block {
    cursor: pointer;
    transform: rotateY(-29deg);
  }
}

.side__panel {
  display: flex;
  justify-content: flex-end;
  background: #fff;
  border-radius: 7px;
  width: 800px;
  height: 700px;
}

.icon__block {
  width: 100px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.icon__item__image:hover {
  cursor: pointer;
  fill: #000;
}

.icon__item__image {
  width: 50px;
}
