.left__box {
  width: 400px;
  height: 600px;
  background: #e26796;
  border-radius: 7px;
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.5);
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 50px;
  width: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.logo__image {
  width: 35px;
}

.number {
  color: #e987ab;
  font-size: 300px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  position: relative;
  height: 500px;
}

.shoes__logo {
  position: absolute;
  width: 420px;
  top: -373px;
  left: -304px;
}

.shoes {
  position: relative;
}

.active,
.default {
  border: none;
  outline: none;
  background: none;

  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.default {
  background: #f0a6c0;
}

.active {
  background: #fff;
}

/* .point {
  border: none;
  outline: none;
  background: #f0a6c0;

  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.point:active {
  color: #fff;
} */

.plus__image__one {
  width: 30px;
  position: absolute;
  top: -300px;
  left: -180px;
}
.plus__image__two {
  width: 30px;
  position: absolute;
  top: -190px;
  left: -130px;
}
.plus__image__three {
  width: 30px;
  position: absolute;
  top: -140px;
  left: 30px;
}

.pluses {
  position: relative;
}

.switcher {
  display: flex;
  gap: 15px;
}
