html {
  height: 100%;
}

body {
  background-color: #f2ce97;
  font-family: Roboto;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.root {
  background-color: white;
  height: 600px;
  width: 1000px;
}
