body {
  height: 100vh;
  font-family: Roboto;
  background-color: #4d515d;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.root {
  height: 700px;
  width: 1200px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 10px 10px 15px -5px rgba(0, 0, 0, 0.5);
}

.header {
  margin: 100px 0 10px 75px;
}

.header h1,
p {
  margin: 0;
  padding: 0;
}

.header h1 {
  color: #000000;
  font-weight: 400;
  font-size: 48px;
  margin-bottom: 15px;
}

.header p {
  color: #b7adaa;
  font-weight: 400;
}

.social img {
  width: 30px;
}

.social {
  margin-top: 50px;
  color: #b7adaa;
  font-size: 11px;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.google {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid #eef0f3;
  height: 75px;
  margin-left: 75px;
}

.google img {
  margin: 0 115px 0 20px;
}

.facebook {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid #eef0f3;
  height: 75px;
  margin-left: 75px;
}

.facebook img {
  margin: 0 115px 0 20px;
}

.twitter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid #eef0f3;
  height: 75px;
  margin-left: 75px;
}

.twitter img {
  margin: 0 115px 0 20px;
}

.line {
  height: 2px;
  width: 670px;
  background-color: #eef0f3;
  margin-top: 40px;
}

.footer {
  width: 600px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 30px;
  gap: 55px;
}

.footer h2 {
  font-size: 16px;
}

.footer h3 {
  color: #8b8b8c;
  font-size: 15px;
}

.image {
  position: absolute;
  top: 127px;
  left: 1093px;
}

.image img {
  height: 700px;
  border-radius: 0 5px 5px 0;
}
