body {
  margin: 0;
  padding: 0;
}
.container {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
  background: linear-gradient(to bottom, #b884e6, #7e83e5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__block {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to right bottom, #ba7ed9, #9077ce);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main__block__header {
  height: 75px;
  width: 240px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.image__block {
  height: 60px;
  background: #fff;
  border-radius: 50%;
  width: 28px;
  height: 28px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image__block::before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 2px;
  height: 51px;
  bottom: 24px;
}

.header__image {
  width: 18px;
  height: 18px;
}

.main__block__paragraph {
  margin: 0;
  color: #fff;
  font-weight: 500;
  padding-right: 100px;
  margin: 5px 0;
}

.timeline__list {
  margin: 0;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 10px;
  width: 290px;
  background: #5f5280;
  margin-top: 18px;
  gap: 10px;
  position: relative;
}

.timeline__list__item {
  margin: 0;
  color: #fff;
  font-weight: 500;
  padding-left: 15px;
  margin-left: 53px;
}

.timeline__list__item::before {
  content: "";
  position: absolute;
  background-color: #afa9c0;
  width: 2px;
  height: 20px;
  left: 43px;
  top: 0;
}

.timeline__list__item::after {
  content: "";
  position: absolute;
  background-color: #afa9c0;
  width: 2px;
  height: 17px;
  left: 43px;
  top: 44px;
}

.timeline__list__item__two {
  margin: 0;
  color: #fff;
  font-weight: 500;
  padding-left: 15px;
  margin-left: 53px;
}

.timeline__list__item__two::marker {
  font-size: 23px;
}

.timeline__list__item__two::after {
  content: "";
  position: absolute;
  background-color: #afa9c0;
  width: 2px;
  height: 17px;
  left: 43px;
  top: 83px;
}

.timeline__list__item::marker {
  font-size: 23px;
}

.timeline__list__item__three {
  margin: 0;
  color: #fff;
  font-weight: 500;
  padding-left: 15px;
  margin-left: 53px;
}

.timeline__list__item__three::marker {
  font-size: 23px;
}

.timeline__list__item__three::after {
  content: "";
  position: absolute;
  background-color: #afa9c0;
  width: 2px;
  height: 17px;
  left: 43px;
  top: 123px;
}
