/* Стили для всего переключателя */
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 26px;
}

/* Скрываем стандартный checkbox */
.switch input {
  opacity: 0;
  width: 44px;
  height: 25px;
  cursor: pointer;
}

/* Стили для слайдера */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transition: 0.4s;
  border: 1px solid #ccc;
  border-radius: 34px; /* Круглый фон для слайдера */
}

/* Круглая кнопка внутри слайдера */
.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: -1px;
  bottom: 0px;
  background-color: white;
  transition: 0.4s;
  border: 1px solid #ccc;
  border-radius: 50%; /* Круглая кнопка */
}

/* Когда checkbox отмечен */
.slider:has(input:checked) {
  background-color: #5288f4; /* Цвет фона при включении */
}

/* Перемещаем круглую кнопку вправо при включении */
.slider:has(input:checked):before {
  transform: translateX(20px);
}

/* Стили для придания слайдеру вида переключателя */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
