.first__page {
  height: 100vh;
  width: 1250px;
}

.header {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  color: #adabac;
  padding-top: 50px;
}

.header__logo {
  width: 30px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 50px;
  font-weight: 500;
}

.header__button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  box-shadow: none;
  outline: none;
  height: 25px;
}

.header__button:hover {
  cursor: pointer;
  color: black;
  border-bottom: 2px solid black;
}

.header__input {
  all: unset;
  margin: 0;
  border-bottom: 2px solid #b2b2b3;
  height: 25px;
}

.header__input:focus {
  color: black;
}

.info__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 700px;
}

.info__block__header {
  font-size: 36px;
  color: #333333;
  padding-bottom: 50px;
}

.info__block__text {
  padding-left: 30px;
  line-height: 1.5;
  color: #999999;
  border-left: 2px solid #999999;
  text-align: left;
  margin: 0;
  width: 460px;
}

.info__block__button {
  margin-top: 40px;
  padding: 0;
  border: none;
  background: #ea625c;
  font: inherit;
  color: white;
  outline: none;
  text-transform: uppercase;
  width: 220px;
  height: 50px;
}

.info__block__button:hover {
  cursor: pointer;
  background: #de534e;
}

.first__page__image {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 149px;
  left: 75%;
}

.line {
  width: 100vw;
  height: 2px;
  background-color: #e0dfdf;
}
