body {
  font-family: Roboto;
  height: 100vh;
  margin: 0;
  background-color: #16a085;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 700px;
  width: 900px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #fff;
  border-radius: 1%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
}

.info {
  width: 650px;
  height: 400px;
  margin-top: 30px;
}

.header h1 {
  display: flex;
  justify-content: space-between;
}

.profile_icon {
  width: 35px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile_icon:hover {
  cursor: pointer;
  box-shadow: -1px 1px 10px 5px rgba(0, 0, 0, 0.3);
}

.header p {
  font-size: 20px;
  color: gray;
}

.price_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 60px;
}

.speed,
.gloves,
.total {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

.speed,
.gloves,
.total h2 {
  color: #5c5c5c;
}

.total h2 {
  font-weight: 500;
  font-size: 35px;
}

.speed p {
  font-size: 30px;
  font-weight: 500;
  color: black;
}

.gloves p {
  font-size: 30px;
  font-weight: 600;
  color: black;
}

.total p {
  font-size: 30px;
  font-weight: 600;
  color: black;
}

.bicycle {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 270px;
  width: 900px;
}
