body {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: Roboto;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #cfdde8, #8dadc8);
}

.main {
  width: 550px;
  height: 600px;
  background-color: white;
}

.main__header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 90px;
  background-color: #6a96d8;
  color: white;
}

.main__circle {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  margin-right: -40px;
}

.main__header p {
  font-size: 24px;
  font-weight: 500;
}

.main__header img {
  width: 35px;
  margin-left: 160px;
}

.main__content__time {
  margin: 0;
  margin-left: 25px;
}

.main__content__messange {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-color: #e6edf6;
  font-weight: 500;
  font-size: 18px;
  width: 350px;
  height: 60px;
  margin-left: 25px;
}
