body {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: Roboto;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #cfdde8, #8dadc8);
}

.main {
  width: 550px;
  height: 670px;
  background-color: white;
}

.main__header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 90px;
  background-color: #6a96d8;
  color: white;
}

.main__circle {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  margin-right: -40px;
}

.main__header p {
  font-size: 24px;
  font-weight: 500;
}

.main__header img {
  width: 35px;
  margin-left: 160px;
}

.day {
  color: #dee0e4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 30px;
}

.day::before,
.day::after {
  content: "";
  flex-basis: 55%;
  border-bottom: 1px solid #dcdcdc;
  margin: 0 5px;
}

.first__message__time {
  margin: 0;
  margin-left: 25px;
  color: #aeb0b3;
  font-weight: 500;
  margin-bottom: 5px;
}

.first__message__message {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-color: #e6edf6;
  font-weight: 600;
  font-size: 18px;
  width: 320px;
  height: 60px;
  margin-left: 25px;
  padding: 10px;
  border-radius: 5px;
}

.second__message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.second__message__time {
  display: flex;
  justify-content: end;
  color: #aeb0b3;
  font-weight: 500;
  margin: 20px 25px 0 0;
}

.second__message__message {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  font-weight: 600;
  font-size: 18px;
  width: 350px;
  height: 60px;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 25px 0 0;
}

.third__message__time {
  margin: 20px 0 5px 25px;
  color: #aeb0b3;
  font-weight: 500;
  margin-bottom: 5px;
}

.third__message__message {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-color: #e6edf6;
  font-weight: 600;
  font-size: 18px;
  width: 90px;
  height: 30px;
  margin-left: 25px;
  padding: 10px;
  border-radius: 5px;
}

.fourth__message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.fourth__message__message {
  display: flex;
  align-items: center;
  background-color: #ffc2c1;
  font-weight: 600;
  font-size: 18px;
  width: 250px;
  height: 30px;
  border-radius: 0 5px 5px 5px;
  padding: 10px;
  margin: 25px 25px 0 0;
}

.line {
  height: 1px;
  background-color: #dcdcdc;
  width: 90%;
  margin: 25px 25px 0 25px;
}

.send__message {
  display: flex;
  align-items: center;
  margin: 0 0 0 25px;
  height: 77px;
  width: 500px;
  gap: 135px;
}

.send__message__input {
  display: flex;
  align-items: center;
  font-family: Roboto;
  border: none;
  width: 300px;
  height: 50px;
  font-size: 17px;
  font-weight: 600;
}

.send__message__input:focus {
  outline: none;
}

.send__message__button {
  display: flex;
  justify-content: end;
  border: none;
  background: none;
  color: #6a96d9;
  font-weight: 600;
  font-size: 18px;
}

.send__message__button:hover {
  cursor: pointer;
}
