body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.container {
  height: 100vh;
  margin: 0;
  background: #c9f8fe;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__block {
  height: 500px;
  width: 850px;
  background: #fff;
  display: flex;
}

.left__sector {
  min-height: 100%;
  width: 45%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.left__sector__block {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.left__sector__header {
  margin: 0;
  color: #fff;
}

.left__sector__text {
  margin: 0;
  color: #fff;
}

.left__sector__button {
  margin: 0;
  outline: none;
  border: 0;
  color: #fff;
  width: 115px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(106, 167, 149, 0.7);
  border-radius: 40px 40px;
  height: 47px;
  padding: 11px;
}

.left__sector__button:hover {
  cursor: pointer;
}
