.poster__image {
  width: 300px;
}

.poster {
  position: absolute;
  top: -30px;
  left: 7%;
  z-index: 1;
}

.block {
  position: relative;
}

.overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 350px;
  height: 600px;
  background: #fff;
  border-radius: 5px;
  opacity: 0;
}

.poster:hover {
  cursor: pointer;
  .overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 350px;
    height: 600px;
    background: #fff;
    border-radius: 5px;
    opacity: 1;
  }
}
