.cinema__banner__two {
  width: 300px;
  height: 465px;
}

.overview__block {
  width: 370px;
  height: 650px;
  background: #fff;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overwie__block__one {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.cinema__name__one {
  color: black;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}

.cinema__overwie__one {
  color: #aaaaaa;
  font-size: 18px;
}

.new__price__block {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
}

.new__price__one {
  color: #2bcd71;
  font-size: 24px;
  font-weight: 500;
}

.old__price__one {
  color: #aaaaaa;
  font-size: 20px;
}
